# Files and directories created by pub
.dart_tool/
.packages
# Remove the following pattern if you wish to check in your lock file
pubspec.lock

# Conventional directory for build outputs
build/

# Directory created by dartdoc
doc/api/

.flutter-plugins
.flutter-plugins-dependencies
example/android/.project
example/android/.settings/
example/android/.gradle/
example/android/local.properties

# These files are marked not to check in version control
**/ios/.symlinks
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/.last_build_id
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Pods
**/ios/Podfile.lock
**/ios/Runner.xcworkspace/xcuserdata/

android/.gradle/
android/local.properties


*.log
.idea

# VSCode settings
.vscode

# FVM path
.fvm
