name: Dart Format

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  format:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v2
      - uses: subosito/flutter-action@v1
      - run: dart format ./ --set-exit-if-changed
